body {
    width: 650px;
    margin: 0 auto;
    background: black;
    color: #FFF;
    font: 20px sans-serif;
}

header {
    padding: 10px 0px;
    font-size: 1.5em;
}

h3 {
    font-size: 20px;
    margin-top: 0;
}

a {
    color: #FAA202;
    font-weight: bold;
}

nav ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    float: left;
}

.menu {
    padding: 0px 10px;
}

main {
    margin-top: 50px;
}

table {
    font-size: 1rem;
    margin-bottom: 10px;
    border-spacing: 0;
}

caption {
    margin-bottom: 10px;
    font-size: 0.9em;
    font-weight: bold;
    text-align: left;
}

th, td {
    text-align: left;
}

section {
    margin: 20px 0px;
    padding: 30px 20px 30px 20px;
    border: 2px solid #FFF;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
}

#jupiter {
    background-image: url(images/Jupiter.jpg);
}

#saturn {
    background-image: url(images/Saturn.jpg);
}

#uranus {
    background-image: url(images/Uranus.jpg);
}

#neptune {
    background-image: url(images/Neptune.jpg);
}

aside {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    padding: 20px;
    background-color: #1a1a1a;
}

footer {
    text-align: center;
    background-color: #388bff;
}

/* 66030270 นาย ภูมิ อัครธรรม */
article {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* กล่องดาวเรียงเป็น 2 คอลัมน์ */
    gap: 20px;                             /* ตรงนี้เป็นตัวกำหนดช่องว่างให้เท่ากัน */
}

/* ตรงนี้ให้หัวข้อใน article  (h2) กว้างเต็มบรรทัด */
article h2 {
    grid-column: 1 / -1;
}

/* ตรงนี้ใช้ gap เป็นตัวคุมระยะห่าง ไม่ให้ margin ของ section มาซ้อน */
article section {
    margin: 0;
}
